:root
{
  --background: rgb(34, 34, 34);
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url("../img/swiftCode.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
}

.header
{
  width: 100%;
  background-color: var(--background);
  opacity: 0.95;
  text-align: center;
  position: fixed;
  z-index: 999;
}

.logo
{
  margin: initial;
  font-family: garamond;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.logo span
{
  font-weight: bold;
}

.nav
{
  position: absolute;
  text-align: left;
  top: 100%;
}

.nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li
{
  margin-bottom: 1em;
  margin-left: 1em;
}

.site
{
  width: 100%;
  height: 1000px;
  background-color: var(--background);
  opacity: 0.5;
}

.footer
{
  height: 80px;
  width: 100%;
  background-color: var(--background);
  display: block;
}
