*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url("../img/swiftCode.jpg");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}

.homeHeader
{
  height: 75px;
  width: 100%;
  background-color: #323232;
}

.homeHeader h1
{
  color: #ffffff;
  font-family: Georgia, serif;
}

.homeSection
{
  width: 100%;
  height: 1000px;
  background-color: #323232;
  opacity: 0.5;
}

.homeFooter
{
  height: 75px;
  width: 100%;
  background-color: #323232;
}
